.terraform/
.terraform.lock.hcl

terraform.tfstate
terraform.tfstate.d/
terraformv0.tfstate

terraform.tfstate.backup

terraformv0.tfvars
*.*tfvars
version

tmp
terraform_creating_&+storing_state_in_blob/blob_creation/commands.sh
terraform_creating_elastic_scaleset_with_postgres/terraform_creating_elastic_scaleset_with_postgres/.vscode/settings.json

.vscode
terraform_creating_elastic_scaleset_with_postgres/terraform_creating_&+storing_state_in_blob/blob_creation/commands.sh
terraform_creating_elastic_scaleset_with_postgres/terraform_creating_elastic_scaleset_with_postgres/.terraform.tfstate.lock.info
terraform_creating_and_storing_state_in_blob/blob_insert_into_container/terraform copy.tfstate
terraform_creating_and_storing_state_in_blob/blob_creation/terraformv.tfstate
terraform.tfvars

.tfvars


var.txt
terraform_creating_and_storing_state_in_blob/blob_creation/terraform.tfvars
terraform_creating_and_storing_state_in_blob/blob_creation/terraform.tfvars
terraform_elasticScaleset__postgresSQL_staging_production/staging_var.tfvars
terraform_elasticScaleset__postgresSQL_staging_production/.terraform.tfstate.lock.info
terraform_elasticScaleset__postgresSQL_staging_production/Scalsetmodule/main.tf
ansible/var_for_windoes.yml
ansible/var_prod.yml
ansible/var_stag.yml
terraform_elasticScaleset__postgresSQL_staging_production/terraform_windows.tfvars
terraform_and_ansible_windows/ansible/vars.yml
terraform_and_ansible_windows/terrafom_windows_postgresSQL/terraform_windows.tfvars
terraform_elasticScaleset__postgresSQL_staging_production_with_ansible/terraform_elasticScaleset__postgresSQL_staging_production/terraform_stage.tfvars
terraform_elasticScaleset__postgresSQL_staging_production_with_ansible/terraform_elasticScaleset__postgresSQL_staging_production/terraform_windows.tfvars
terraform_elasticScaleset__postgresSQL_staging_production_with_ansible/ansible/var_for_windoes.yml
tfvars.txt
tf_VMSS__postgresSQL_stag_prod_with_ansible/ansible/var_for_windoes_0.yml
